<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>NEWS</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://css.gg/css?=|eye|instagram|twitter" rel="stylesheet">
	<script src="/script/main_script.js"></script>

</head>
<body>
<!-- header begins -->

	<div class="hamburger-menu">
		<input id="menu__toggle" type="checkbox" />
		<label class="menu__btn" for="menu__toggle">
		  <span></span>
		</label>
	
		<ul class="menu__box">
			<li><a class="brand" href="/"><span class="cher_span">Cher</span>News</a><li></li>
			<% if(!currentUser){ %>
				<li class="<%= typeof page !== 'undefined' && page === 'login' ? 'nav-active' : '' %>"><a class="menu__item" href="/login">Log in</a></li>
				<li class="<%= typeof page !== 'undefined' && page === 'register' ? 'nav-active' : '' %>"><a class="menu__item" class="sign_in" href="/register">Sign up</a></li>
			<% } else { %>
				<li><a class="menu__item" href="#">Signed in as <%= currentUser.username %></a></li>
				<li><a class="menu__item" href="/logout">Log out</a></li>
			<% } %>
		</ul>
	</div>

<!-- header ends -->

