<%- include ('./partials/header')%>


<div class="form">
    <form action="/register" method="post">
        <div><input class="input_form_text" type="text" name="username" placeholder="username"></div>
        <div><input class="input_form_text" type="password" name="password" placeholder="password"></div>
        <div><button class="btn_submit">Sign Up</button></div>
    </form>
</div>


<%- include ('./partials/footer') %> 