body, html{
  margin: 0;
  /* background: yellow; */
  background: rgb(131,58,180);
  background: radial-gradient(circle, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7036383188914958) 100%); 
}
a{
  color: black;
  text-decoration: none;
}
.title_link, .description_link{
  color: black;
}
.wrapper {
  width: 100%;
  min-height: 85%;
  height: auto !important;
  height: 100%;
}
.nav_wrapper, nav{
  font-family: 'Comfortaa', cursive; 
  display: flex;
  flex-direction: row; 
  width: 100%;
  background: white;
}
.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background: #f7f4f405;
  cursor: pointer;
}
.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: black;
}

.nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.toogle-active {
  background-color: #ECE5E42B;
}

header:after, .container:after, footer:after, .widget-posts-list li:after{
  content: "";
  display: table;
  clear: both;
}

header{
  position: relative;
}

/* .nav_wrapper{
  background: #000;
} */

.brand{
  font-family: 'Comfortaa', cursive;
  font-size: 200%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 7%;
  margin-right: 50%;
  padding: 1% 10px;
  color: black;
  width: 20%;
}

.cher_span{
  /* color: rgba(254, 150, 180, 1); */
  color: red;
  text-decoration: upline;
  font-family: 'Dancing Script', cursive;
  font-weight:300;
  font-size: 100%;
}  

li{
  list-style-type: none;
  width: 25%;
  display: inline;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 120%;
}




 /* =====================HEADER============================== */ 





/* ============================SHOW============================ */


.show_content{
  margin:5% auto;
  background: rgba(255, 255, 255, 0.3);
  /* background: rgba(0, 0, 0, 0.1); */
  width: 90%;
  padding: 2%;
  border-radius: 22px;
  overflow: hidden;
}
  
.show_desc{
  background: white;
  width: 43%;
  margin-bottom: 2%;
  border-radius: 22px;
  margin-top: 2%;
  margin-right: 2%;
  padding:1.5%;
  float: right;

}

video{
  width: 100%;
}

.div_img_show{
  width: 45%;
  float: left;
  border-radius: 22px;
  margin: 2%;
  background: white;
  padding: 1.5%;

}
.img_show{
  width: 100%;
  border-radius: 22px;
}

.title_show{
  /* display: inline-block; */
  vertical-align: top;
  padding: 1.5%;
  padding-bottom: 0;
  font-size: 288%;
  float: left;
}

.views_show_icon{
  font-family: 'Comfortaa', cursive;  
  float: left;
  margin: 4%;
  margin-left: 10%;
  color: darkgray;
}

.views_show{
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.eye_icon{
  float: left;
}

.theme_show{
  padding-left:3%;
  font-size: 170%;
  color: darkgray;
  float: left;
  width: 100%;
}
.description_show{
  padding: 2%;
  font-size: 220%;
  float: left;
}

.date_show{
  float: right;
  padding: 4%;
  color: darkgray;
  font-family: 'Comfortaa', cursive;  
}

.comments_and_btn{
  width: 41%;
  margin-left: 2%;
  float: left;
}

.comments{
  width: 100%;
  /* background: rgb(131,58,180);
  background: radial-gradient(circle, rgba(131,58,180,0.35) 0%, rgba(253,29,29,0.35) 50%, rgba(252,176,69,0.35036383188914958) 100%); */
  background: white;
  border-radius: 22px;
  margin-bottom: 2%;
  padding: 1.7%;
  font-family: 'Comfortaa', cursive;  
}
.comment_author{
  /* float: none; */
  font-size: 180%;
  border-top: 3px solid rgb(204, 204, 204);
  border-top-left-radius: 22px;
  padding: 1.5% 5%;  
  color: black;
  margin: 0;
  margin-left: 1%;
  margin-right: 30%;
  margin-top: 1%;
  float: left;
}
.comment_date{
  width: 20%;
  padding: 5% 47%;
  padding-right: 0;
  padding-bottom: 0;
  color: rgba(0, 0, 0, 0.452);
  margin:0 30%;
  margin-top: 3%;
  margin-right: 5%;
}

.comment_text{
  margin: 0;
  padding: 1% 10%;
  padding-bottom: 2%;
  color: black;
  margin-bottom: 1%;
  margin-left: 1%;

}


.comments_btns{
  display: inline;
}

.edit_comment{
  color: aliceblue;
  margin: 2% 0.5%;
  margin-left: 10%;
  background: rgba(246, 246, 24, 0.938);
  border: none;
  border-radius: 20px;
  padding: 2%;
  font-size: 120%;
  font-family: 'Comfortaa', cursive;
  float: left;
}

.delete_comment{
  color: aliceblue;
  margin: 2%;
  background: red;
  border: none;
  border-radius: 22px;
  padding: 2%;
  font-size: 120%;
  font-family: 'Comfortaa', cursive;
}


.add_comment{
  margin-top: 2%;
  margin-right: 6%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-size: 130%;
  padding: 1% 2%;
  color: white;
  background:rgb(20, 236, 13);
  /* float: right; */
} 

/* ============================SHOW============================ */



/* ============================FORMS============================ */

.form{
  width: 350px;
  height: 180px;
  margin: 5% 31%;
  font-size: 150%;
  background: rgba(255, 255, 255, 0.3);
  padding: 2%;
  border-radius: 22px;
}

.input_form_text{
  font-family: 'Comfortaa', cursive;  
  border-radius: 22px;    
  font-size: 100%;
  padding: 1.5% 3%;
  margin: 3%;
  text-decoration: none;

}

.btn_submit{
  width: 315px;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-size: 130%;
  padding: 1.5% 0%;
  color: white;
  background:rgb(20, 236, 13);
}

.add_com{
  font-size: 200%;
  color: white;
  font-family: 'Comfortaa', cursive;
  margin: 0 35%;
}

.add_com_title{
  font-size: 200%;
  color: white;
  font-family: 'Comfortaa', cursive;
  margin: 0 37.5%;
}

/* ============================FORMS============================ */
  
  

/* ============================INDEX============================ */
img{
  width: 100%;
}
.title_index{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
  font-size: 120%;
  font-weight: bold;
  margin: 2% 0;
}
.description_index {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.title1_index{
  font-size: 200%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  font-size: 120%;
  font-weight: bold;
  margin: 2% 0;
}
.description1_index {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}
/* ============================INDEX============================ */





/* ============================FOOTER============================ */

.footer{
  margin-top: 3% ;
  font-family: 'Comfortaa', cursive;
  font-size: 150%;
  color: black;
  background: white;
  height: 87px;
}

.footer_rights{
  /* width: 45%; */
  float: left;
  margin-left: 2%;

}

.footer_icons{
  margin: 18px 5px;
  width: 35%; 
  float: right;
}

.gg-instagram,.gg-twitter{
  float: right;
  margin: 2%;
}
/* ============================FOOTER============================ */




@media screen and (min-width:1024px) {
  
  #menu__toggle{
    display: none;
  }
  .brand{
    font-size: 250%;
    margin: 0;
    margin-right: 400px;
  }
  .hamburger-menu{
    width: 1024px;
    margin: auto;
    background: white;
    padding: 10px 0;
  }
  .menu__item{
    font-family: 'Comfortaa', cursive;  
    font-size: 120%;
    padding: 0;
  }
  .menu__box{
    padding: 0;
  }


  .flex_container{
    overflow-wrap: break-word;
    border: 0.5px solid #d0d0d05e;
    border-top: 0.5px solid #d0d0d087;;
    padding-bottom: 3px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.473);
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
     "col-1 col-2 col-2"
     "col-1 col-3 col-4";
 }
 .col_1_left {
  grid-area: col-1;
  }
.col_2_right {
  grid-area: col-2;
  }
.col_3_right {
  grid-area: col-3;
  }
.col_4_right {
  grid-area: col-4;
  }  
  .container{
    width: 1000px;
    margin: 21px auto;
    padding: 10px;
  }
  .posts-list {
    border: 0.5px solid #d0d0d05e;
    border-top: none;
    display: flex;  
    flex-flow:row wrap;
    padding: 5px;
  }

  .title1_index{
    font-size: 210%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    font-weight: bold;
    margin: 2% 0;
  }
  .description1_index {
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
  }


  .recent_news{  
    padding: 3%;
    background: ghostwhite;  
  }
  .left_1{
    background: white;
  }

  .jokes{
    padding: 3%;
    background: ghostwhite;  
  }
  .left_2{
    width: 30%;
    margin: 9px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  }
  .jokes_theme{    
    font-size: 200%;
    margin: 0 36%;
    color: black;
  }
  
  .forest{
    padding: 3%;
    background: ghostwhite;  
  }
  .left_3{
    width: 30%;
    margin: 9px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  } 
  .forest_theme{
    font-size: 200%;
    margin-left: 45%;
    color: black;
  }  
  
  .beauty{
    padding: 3%;
    background: ghostwhite;  
  }
  .right_1{     
    width: 24%;
    margin: 6px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  }
  .beauty_theme{
    font-size: 200%;
    color: black;
    margin:  3px ;
    margin-left:176px;
  }
  
  .uni{
    padding: 3%;
    background: ghostwhite;  
  }
  .right_3{
    margin: 9px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  }
  .uni_theme{
    margin: 3px;
    margin-left: 85px;
    color: black;
    font-size: 180%;
  }

  /* .cars{
    background: white;
    width: 92%;
    border: 2px solid white;
  }  
  .right_4{
    margin: 9px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  }
  .cars_theme{
    margin: 3px;
    margin-left:40px;
    color: black;
  } */

  .video{
    padding: 1%;
    background: ghostwhite;  
  }
  .right_5{
    margin: 9px;
    padding: 3%;
    background: white;
    display: table; 
    display: inline-block;
    vertical-align: top;
  }
  .video_theme{
    margin: 3px;
    margin-left: 45px;
    color: black;
    font-size: 180%;
  }
  video{
    width: 140px;
    height: 140px;
  }


  .img1,.img2,.img3,.img4{
    width: 100%;
  }
}




/* form */
.form{
  width: 250px;
  height: 180px;
  margin: 130px auto;
  font-size: 110%;
  background: rgba(255, 255, 255, 0.3);
  padding: 2%;
  border-radius: 22px;
}
 
.input_form_text{
  font-family: 'Comfortaa', cursive;  
  border-radius: 22px;    
  font-size: 100%;
  padding: 1.5% 3%;
  margin: 3%;
  text-decoration: none;

}
.link_add_comm{
  color: white;
}
.btn_submit{
  width: 228px;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-size: 130%;
  padding: 1.5% 0%;
  color: white;
  background:rgb(20, 236, 13);
}

/* footer */

.footer{
  width: 1024px;
  margin: auto;
  background: white;
  padding: 10px 0;
}


/* @media screen and (max-width:991px) { 
  .container_index{
    width: 100%;
    padding: 2%;
  }
  .img1{
    height: auto;
  }
  .img2,.img3,.img4{
    width: 100%;
    height: 320px;
  }
 
  .recent_news{
    width: 100%;
  }
 
  .left_1{
    width: 82%;
    margin:auto 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 4.5%;
  }

  .left_2,.left_3{
    width: 40%;
    /* flex-direction: row-reverse; 
    margin:auto 10px;
    margin-bottom: 10px;
    padding: 2%;
  }
  .right_1,.right_2{
    width: 40%;
    /* flex-direction: row-reverse; 
    margin:auto 10px;
    margin-bottom: 10px;
    padding: 2%;
  }
  .right_3{
    width: 106%;
    margin: auto 10px;
    margin-bottom: 10px;

  }
  .video{
     
    width: 40%;
    margin-bottom: 10px;
  } 
} */
/* 
@media screen and (max-width:767px) {
  .container_index{
    width: 100%;
    margin: 10px auto;
    padding: 3px;
  }
  .img2,.img3,.img4{
    width: 100%;
    height: 320px;
    height: 200px;
  }
} */

@media screen and (max-width:1023px) {

  .hamburger-menu {
    overflow: hidden;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }

     
  .brand{
    margin: 0;
    padding: 0 24px;
    display: block;
    text-decoration: none;
    transition-duration: .25s;
  }
  /* .hamburger-menu{
    position: fixed;
    top: 0px; 
    z-index: 999;
    background: white;
    height: 60px;
    margin-bottom: 20px;
  } */

  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: black;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    text-decoration: none;
    transition-duration: .25s;
    padding: 0 24px;  
    color: black;  
    font-family: 'Comfortaa', cursive;  
    font-size: 20px;
    font-weight: 600;  

  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }



  .container{
    width: 90%;
    margin: 2% 1.5%;
    /* padding: 5%; */
  }
 
  .theme_index{
    color: white;
    padding-left: 32%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 1.8%;
    font-size: 250%;
    border-top: 2px solid white;
    /* background: yellow; */
  }
  .cars_theme,.forest_theme,.jokes_theme,.beauty_theme,.uni_theme,.video_theme{
    color: white;
    padding-left: 25%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 1.8%;
    font-size: 250%;
    border-top: 2px solid white;  
  }
  /* .jokes_theme{
    color: white;
    padding-left: 25%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 1.8%;
    font-size: 250%;
    border-top: 2px solid white;  
  } */

 .left_1,.left_2,.left_3,.right_1,.right_2,.right_3,.right_4,.right_5{
   width: 100%;
   margin-bottom: 10px;
   padding: 4%;
   background: white;
  }
  .img1,.img2,.img3,.img4{
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  .recent_news,.beauty,.cars,.forest,.video,.jokes,.uni{
    width: 100%;
  }
 
  .left_1{
    margin-top: 100px;
  }



  /* show */
  .div_img_show{
    width: 95%;
    margin: auto;
  }
  .container{
    width: 90%;
    margin: 2%;
    margin-top: 100px;
  }
  .show_desc{
    width: 95%;
  }
  .comments_and_btn{
    width: 95%;
    margin: auto;
  }
  .comments{
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
  }
  .btn_add_comment{
    width: 90%;
    margin: auto;
  }
  .add_comment{
    width: 90%;
    margin: auto;
  }
  .link_add_comm{
    color: white;
  }
  /* show */




  /* forms */
  

  .form{
    width: 250px;
    height: 180px;
    margin: 10px auto;
    margin-top: 100px;
    font-size: 110%;
    background: rgba(255, 255, 255, 0.3);
    padding: 2%;
    border-radius: 22px;
  }
  
  .input_form_text{
    font-family: 'Comfortaa', cursive;  
    border-radius: 22px;    
    font-size: 100%;
    padding: 1.5% 3%;
    margin: 3%;
    text-decoration: none;
  
  }
  
  .btn_submit{
    width: 228px;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 130%;
    padding: 1.5% 0%;
    color: white;
    background:rgb(20, 236, 13);
  }


  /* footer */
  .footer{
    height: 250px ;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .footer_rights{
    width: 25%;
    float: left;
    margin-left: 2%;
  
  }
  
  .footer_icons{
    margin: 18px 5px;
    width: 30%; 
    float: right;
  }
}